
<section class="content-header">
  <h1>
    Policies
    <small>Rules</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Policies</li>
  </ol>
</section>