<section class="content-header">
  <h1>
    Announcements
    <small>Get yourself notified</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Announcements</li>
  </ol>
</section>

<section class="content">
  <div class="box box-primary">
  <div class="box-header with-border">
    <h2 class="box-title">Editing Announcement</h2>
  </div>
    <%= render 'form' %>
    <div class="box-footer">
      <div class="btn-group">
        <%= link_to 'Show', @announcement, class: 'btn btn-success' %>
        <%= link_to 'Back', announcements_path, class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</section>