<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @task.desc %>
</p>

<p>
  <strong>Date:</strong>
  <%= formatted_time @task.date %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed %>
</p>
