<tr class="<%= conversation.is_read?(current_user) ? 'read' : 'unread'%>">
  <td><input type="checkbox"></td>
  <td class="mailbox-star"><i class="fa fa-star text-yellow"></i></td>
  <td class="mailbox-name"><%= link_to conversation.originator.name, conversation_path(conversation.id, active_page: @active)%></td>
  <td class="mailbox-subject"> <%= truncate_text(conversation.subject) %>
  </td>
  <td class="mailbox-attachment"></td>
  <td class="mailbox-date"><%= relative_time(conversation.created_at) %> ago</td>
</tr>
