<%#= link_to "View", conversation_path(conversation)  %>
  <tr>
    <td><input type="checkbox"></td>
    <td class="mailbox-star"><i class="fa fa-star text-yellow"></i></td>
    <td class="mailbox-name"><a href="/conversations/<%= conversation.id %>"><%= conversation.originator.name %></a></td>
    <td class="mailbox-subject"> <%= conversation.subject %>
    </td>
    <td class="mailbox-attachment"></td>
    <td class="mailbox-date">5 mins ago</td>
  </tr>
<%# end %>