<%= simple_form_for(@election) do |f| %>
  <div class="box-body">
    <%= f.error_notification %>
    <%= f.input :years_range %>
  </div>

  <div class="box-footer">
    <%= f.button :submit %>
  </div>
<% end %>
