.not-active {
  pointer-events: none;
  cursor: default;
}

.info {
    background: #D5EDF8;
    color: #205791;
    padding: 0.8em;
    margin-bottom: 1em;
    border: 2px solid #92CAE4;
}

.hide_announcement {
    cursor: pointer;
    float: right;
}

.new-tag{
  background: red;
  border-radius: 5px;
}


.nav-sidebar > li > span {
    padding-right: 20px;
    padding-left: 20px;
}
.nav > li > span {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.img-thumb{
  height: 150px; 
  width: 150px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}