<%= render partial: 'funds/header/header'%>

<section class="content">
  <div class="box box-primary">
  <div class="box-header with-border">
    <h2 class="box-title">Create Funds</h2>
  </div>
    <%= render 'form' %>
    <div class="box-footer">
      <div class="btn-group">
        <%= link_to 'Back', funds_path, class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</section>
