<div class="member-index-data">
  <% if user_is_president %>
    <div class="pull-right">
      <%= link_to 'New Member', new_member_path, class: 'btn btn-primary' %>
    </div>
  <% end %>

  <% if user_is_president %>
    <%= render partial: 'votes/partials/voting_visble' %>
  <% end %>

  <%= render "members/index"%>

</div>
