<section class="content-header">
  <h1>
    Society Members
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Members</li>
  </ol>
</section>


<section class="content">
  <div class="member-index-data">
    <%= render "members/index"%>
  </div>
</section>
