<div class="row">
  <div class="col-md-12">
    <div class="box box-warning">
      <div class="box-header with-border">
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th style="width: 10px">#</th>
            <th>Name</th>
            <th>Number</th>
            <th>Occupation</th>
            <th></th>
          </tr>
          <% @labours.each_with_index do |member, index| %>
            <tr>
              <td><%= index + 1  %></td>
              <td><%= member.name %></td>
              <td><%= member.mob_num %></td>
              <td><%= member.occupation %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
