$('.list-timline').append("<%= j render_activities @activities %>");
<% if @activities.next_page %>
  $('#timelines-paginate .pagination').replaceWith('<%= j will_paginate @activities %>');
<% else %>
  $(window).off('scroll');
  $('.list-timline').append('<li><i class="fa fa-clock-o bg-gray"></i></li>')
  $('#timelines-paginate .pagination').remove();
<% end %>
